* {
	margin: 0px;
}
#header {
	background-color: pink;
	height: 66px;
	width: 100%;
	padding: 12px;
	position: fixed;
	top: 0px;
	transition: 0.3s;
	
	
}	
.content {
	margin-top: 90px;
	width: 400px;
	text-align: center;
	padding: 12px;
}